/* <a></a> = anchor = links LOL */

html{
	scroll-behavior: smooth;
}


body{
	margin: 0px;
	padding:  0px;
	font-family: Calibri, sans-serif;
}


.header{
	border-bottom: 5px solid #dc0101;
	background-color: #fefefe;
}


.page{
	
}


.footer{
	
}

.column{
	/* border: 1px solid green; */
	width: 800px;
	margin: 0px auto;
}

.header .column{
}

.footer .column{
}

.page .column{
	height: 100vh; /*VH = viewport height = height of entire page that displays in browsers in % */
}

#logo-i-social{
	display: flex;
}

#logo-holder{
	flex-grow: 1;
}

#logo-holder img {
	weight: 48px;
	height: 48px;
}

#social-holder{
	flex-grow: 1;
	text-align: right;
}

#social-holder a img {
	margin: 5px;
	width: 24px;
	height: 24px;
}

#social-holder a {
	text-decoration: none;
}

#main-menu{
	display: flex;
}

#main-menu a{
	flex-grow: 1;
	text-align: center;
	text-decoration: none;
	color: #dc0101;
	display: block;
	padding: 10px 0;
	transition: 300ms;
}

#main-menu a:hover,
#main-menu a.active {
	background: #dc0101;
	color: #ffffff;
}

/* bye bye navigation, radimo prvu stranicu! */

#pocetna {
	text-align: center;
	color: #ffffff;
	background: url('assets/iomg/pozadine/windows.jpg');
	background-size: cover;
	background-attachment: fixed;
}


#pocetna h1 {
	font-size: 48px;
	margin-top: 0px;
	padding-top: calc(50vh - 250px);
	text-shadow: 3px 3px #000000;
}

.dark-box {
	background-color: #22222250;
	border: 1px solid #ffffff;
	font-size: 24pt;
	padding: 40px;
}


/*druga stranicaa!! */

#o-nama {
	background-size: cover;
	background-attachment: fixed;
}

#usluge {
	background: url('assets/iomg/pozadine/10-12.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#karijera {
	background: url('assets/iomg/pozadine/staradis.jpg');
	background-size: cover;
	background-attachment: fixed;
}


/* O NAMA PAGE */


.tehnologija .img {
	width: 24px;
	height: 24px;
}

.krugovi {
	display: flex;
	margin: 30px 0;
}

.krug-holder{
	flex-grow: 1;
	text-align: center;
}

.krug {
	color: #fff;
	background-color: #dc0101;
	font-size: 48px;
	font-weight: bold;
	/*width: 200px;
	height: 200px; */
	padding: 25%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}

.oznaka {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}


.tehnologije {
	margin: 30px 0;
	display: flex;
}
.tehnologija {
	flex-grow: 1;
	text-align: center;
}

.tehnologija img {
	width: 48px;
	height: 48px;
}

.tehnologija p {
	font-weight: bold;
}

/* IDEMO TRECI DEO SAJTA */

#usluge {
	color: #fff;
}


#usluge h2 {
	padding-top: 40px;
}

.service-row {
	display: flex;
	margin-bottom: 150px;
	justify-content: space-between;
}


.service-row img {
	width: 250px;
	height: 150px;
}

.service-row > div {
	text-align: center;
	position: relative;
	width: 250px;
	height: 150px;
	border: 1px solid white;
}

.service-row > div > img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.service-row > div > p {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	margin-bottom: 0px;
	background-color: #ffffffc0;
	color: #000000;
	font-weight: bolder;
	border-top: 1px solid white;
}

/* sad pravimo stranicu PROIZVODI */



#proizvodi h2 {
	padding-top: 50px;
}

.matrica {
	margin-top: 40px;
	height: 500px;
	display: grid;
	grid-template: "a b c"
					"d b e"
					"f f g";
	align-content: space-between;
	justify-content: space-between;
}



#a {
	grid-area: a;
}

#b {
	grid-area: b;
}

#c {
	grid-area: c;
}

#d {
	grid-area: d;
}

#e {
	grid-area: e;
}
#f {
	grid-area: f;
}


#proizvodi{
	display: grid;
	grid-template: "region";
	align-content: stretch;
	justify-content: stretch;
}

.proizvod img {
	width: 250px;
	height: 200px;
	grid-area: region;
	justify-self: stretch;
}

.proizvod .tekst-holder {
	grid-area: region;
	align-self: stretch;
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bolder;
	background-color: #dc0101DD;
	color: #fff;
	opacity: 0.0;
	transition: 500ms;
}

.proizvod:hover .tekst-holder{
		opacity: 1.0;
}

#slikab{
	margin: 20px;
	width: 200px;
	height: 400px;
}

#slikaf{
	width: auto;
}



/* sad pravimo stranicu KARIJERA*/


#karijera h2{
	padding-top: 50px;
}

.career-columns{
	display: flex;

}


.job-list label{
	flex-grow: 1;
	background-color: #ffffffaa;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #fff;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.job-list{
	flex-grow: 1;
	flex-basis: 0;
}


.job-desc{
	flex-grow: 2;
	margin-left: 10px;
	border: 1px solid #fff;
	background-color: #ffffffaa;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	flex-basis: 0;
}

.job-desc input{
	display: none;
}

.job-desc .jobdescription{
	display: none;
}

.job-desc input:checked+.jobdescription {
	display: block;
}



/* PRAVIMO STRANICU KONTAKT */


#kontakt h2{
	margin-top: 80px;
	margin-bottom: 40px;
}

.kontakt-region{
	display: grid;
	grid-template: "adrese mapa"
					"mejlovi mapa";
	grid-template-columns: 300px 1fr;
}

.kontakt-adresa{
	grid-area: adrese;
	padding-bottom: 15px;
	font-size: 14px;
}

.kontakt-mejlovi{
	grid-area: mejlovi;
}

.kontakt-mejlovi a {
	text-decoration: none;
	color: #dc0101;
}

.kontakt-mejlovi a:hover {
	text-decoration: underline; /* MOZE I OVDE RED-LINK KLASA, AL NECU DA BI ZNAO DA MOZE I OVAKO */
}

.kontakt-mapa{
	grid-area: mapa;
}


/* A UJEDNO IDE I FUTER #30 ZAJEDNO SA PRETHODNIM */

.footer{
	border-top: 3px solid #dc0101;
	background-color: #fefefe;
	font-size: 13px;
}

.footer > .column {
	display: flex;
}

.footer-column{
	flex-grow: 1;
	flex-basis: 0;
	padding-top: 20px;
	padding-bottom: 50px;
}


.align-left{
	text-align: left;
}


.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
} /* CUTOVO OD "O NAMA" PAGE RADI LEPSEG SORTIRANJA */


.red-link{
	text-decoration: none;
	color: #dc0101;
}

.red-link:hover{
	text-decoration: underline;
}






/* 
.okvir{
grid-template-columns: 10px 1fr 150px;
grid-template-rows: 1fr 20px 20px;
grid-row: 1/3;
grid-column: 1/4;
}

#element-1{
	grid-area: 1/1/4/3; /* startRed/startKolona/endRed/endKolona */
}

/*
.primer2{
width: 600px;
height: 600px;
display: grid;
grid-template: "logo header header"
"title title sidebar"
"body body sidebar"
"footer footer footer";

grid-template-rows: 100px 50px 1fr 50px;
grid-template-columns: 200px 1fr 150px;
}
*/